<h1 class="notlogged-header"> Welcome to BlogApp </h1>
<div class="notlooged-btn-container">
<a class="notlogged-btn signin" href = "users/sign_in">Log in</a>
<a class="notlogged-btn create" href = "users/sign_up">Create account</a>
</div>