<h1 class="notlogged-header"> Welcome to BlogApp </h1>
<div class="notlooged-btn-container">
<%= link_to "Log in", new_user_session_path, class:"notlogged-btn signin" %>
<%= link_to "Create account", new_user_registration_path, class:"notlogged-btn create" %>
</div>