<section class="user-container d-flex">
  <div class="user-img">
    <%= image_tag("user/user_logo.png", width:'100%', height:'100%') %>
  </div>
  <div class="user-data d-flex">
    <h2>Username</h2>
    <p>Number of posts: x</p>
  </div>
</section>

<section class="comments-section">
  <div class="posts-container">
    <div class="posts-details d-flex">
      <h2 class="posts-id">Post #1</h2>
      <p class="posts-body">Consectetur sunt exercitation voluptate non et labore id consequat do quis esse aute. Nostrud
      veniam quis nulla veniam elit occaecat veniam. Sit ad ad sint ipsum laborum do.</p>
      <p class="posts-counters">Comments: x, Likes: y</p>
    </div>
    <div class="posts-comments d-flex">
    <p class="users-comment">Username: Comment</p>
    <p class="users-comment">Username: Comment</p>
    <p class="users-comment">Username: Comment</p>
    <p class="users-comment">Username: Comment</p>
    </div>
  </div>
</section>