<div class="user-container d-flex">
  <div class="user-img">
    <%= image_tag("user/user_logo.png", width:'100%', height:'100%') %>
  </div>
  <div class="user-data d-flex">
    <h2>Username</h2>
    <p>Number of posts: x</p>
  </div>
</div>

<div class="bio-data">
  <h2 class="bio-span">Bio</h2>
  <p class="bio-body">
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
    Sunt est eu veniam dolor amet laboris ex ad et dolor ad consequat laborum.
  </p>
</div>

<div class="recent-posts">
  <div class="recent-posts posts-details d-flex">
    <h2>Post #1</h2>
    <p class="posts-body">
      Consectetur sunt exercitation voluptate non et labore id consequat do quis esse aute. Nostrud
      veniam quis nulla veniam elit occaecat veniam. Sit ad ad sint ipsum laborum do.
    </p>
    <p class="posts-counters">Comments: x, Likes: y</p>
  </div>
</div>