<section class="posts-section">
  <div class="post-header d-flex">
    <h2 class="post-title">Post #1 by username</h2>
    <p class="post-data-counter">
      Comments: x, Likes:y
    </p>
  </div>
  <p class="post-data-counter">
    Consectetur exercitation laborum do elit aliquip est quis est elit magna aute ipsum.
    Nostrud nisi ut eu culpa occaecat laborum laborum irure aliqua aliqua sunt cupidatat
    anim id. Sunt ea reprehenderit consectetur labore adipisicing fugiat culpa dolor
    mollit.
    Eu do fugiat nostrud cupidatat ut. Eu nostrud laboris est commodo duis pariatur
    proident velit ex. Sit id laborum eu eu cillum duis culpa culpa qui aliquip mollit.
    Laborum id Lorem laborum id culpa anim. Amet nisi nulla duis ipsum consequat duis
    aliqua consequat minim aliquip et magna.
    labore sunt ad laborum exercitation est occaecat. Laboris quis occaecat velit id mollit non aute. Ex amet culpa culpa adipisicing duis est sit nisi duis. Anim pariatur ullamco officia proident et aute. Non ad eiusmod mollit labore nulla eu deserunt mollit adipisicing ad cillum.
    Eu do fugiat nostrud cupidatat ut. Eu nostrud laboris est commodo duis pariatur
    proident velit ex. Sit id laborum eu eu cillum duis culpa culpa qui aliquip mollit.
    Laborum id Lorem laborum id culpa anim. Amet nisi nulla duis ipsum consequat duis
    aliqua consequat minim aliquip et magna.
    labore sunt ad laborum exercitation est occaecat.
  </p>
</section>

<section class="posts-section-comments d-flex">
    <p class="users-comment">Username: Comment</p>
    <p class="users-comment">Username: Comment</p>
    <p class="users-comment">Username: Comment</p>
    <p class="users-comment">Username: Comment</p>
</section>