.comments-section {
  padding: 0 5%;
}

.posts-details,
.posts-comments {
  flex-direction: column;
  margin: 0 1%;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
}

.posts-comments {
  margin-bottom: 20px;
}

.posts-details {
  margin-bottom: 15px;
}

.posts-counters {
  align-self: flex-end;
  margin-right: 3%;
}

.add-post-btn {
  justify-content: center;
  margin-bottom: 10px;
}

.add-post-btn > a {
  color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 4px 7px;
  background: gray;
}

.add-post-btn > a:hover {
  background: rgb(36, 128, 36);
  border-color: rgb(36, 128, 36);
}
