body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.add-post-btn {
  justify-content: center;
  margin: 10px 0 10px 5%;
}

.add-post-btn > a {
  color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 4px 7px;
  background: gray;
}

.add-post-btn > a:hover {
  background: rgb(36, 128, 36);
  border-color: rgb(36, 128, 36);
}

.user-container {
  justify-content: space-around;
  align-items: center;
  padding: 20px 5%;
}

.user-img {
  width: 110px;
}

.user-data {
  width: 75%;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  border: 2px solid gray;
  border-radius: 8px;
}

.user-data > p {
  align-self: flex-end;
}
