body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.logout-btn {
  cursor: pointer;
  height: 28px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 4px 7px;
  background-color: rgb(175, 51, 51);
  color: white;
  margin-left: 10px;
}

.add-post-btn {
  justify-content: center;
  margin: 10px 0 10px 5%;
}

.add-post-btn > a {
  color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 4px 7px;
  background: gray;
}

.add-post-btn > a:hover {
  background: rgb(36, 128, 36);
  border-color: rgb(36, 128, 36);
}

.logout-btn:hover {
  background-color: rgb(228, 11, 11);
}

.user-container {
  justify-content: space-around;
  align-items: center;
  padding: 20px 5%;
}

.user-img {
  width: 110px;
}

.user-data {
  width: 75%;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  border: 2px solid gray;
  border-radius: 8px;
}

.user-data > p {
  align-self: flex-end;
}

/* not logged */

.notlogged-header {
  text-align: center;
}

.notlooged-btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.notlogged-btn {
  border-radius: 8px;
  padding: 4px 10px;
  color: white;
  margin: 0 30px;
}

.signin {
  background-color: rgb(50, 143, 205);
}

.create {
  background-color: rgb(205, 50, 50);
}
